body{
    background-color: black;
    color: wheat;
}
#blub{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 4px solid rgb(221, 27, 27);
    background-color: yellow;
}
button{
    padding: 10px 30px;
    font-size: 34px;
    margin: 80px;

}
